ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: #2bd0d0;
}

.social-icon {
  margin: 0 10px;
  text-decoration: none;
}

.social-icon:hover svg path {
  fill: #2bd0d0;
}

.footer-list-item {
  margin-bottom: 15px;
}
